<!DOCTYPE html>
<html>
<head>
    <title>Currículo</title>
</head>
<body>
    <header>
            <h1>Meu Currículo</h1>
    </header>
        <h2>Informações Pessoais</h2>
        <p>Nome: João Lucas Santos</p>
        <p>Email: meuemail8@gmail.com</p>
        <p>Telefone: (46) 99999-9999</p>

        <h2>Habilidades</h2>
            <li>Atendimento ao cliente</li>
            <li>Excel</li>
            <li>Sistemas</li>

        <h2>Experiências</h2>
        <li>Viasoft</li>
        <li>Senai</li>
        <li>Senai</li>

        <h2>Projetos</h2>
        <p>Meu curriculo.</p>
        <div class="container">
        <button class="btn" onclick="location.href='/lista'">Ver Lista de Livros</button>
        <button class="btn" onclick="location.href='/'">Voltar a Home</button>
    </div>
</body>
</html>