<!DOCTYPE html>
<html>
<head>
    <title>Currículo</title>
</head>
<body>
    <header>
            <h1>Meu Currículo</h1>
    </header>
        <h2>Informações Pessoais</h2>
        <p>Nome: João Lucas Santos</p>
        <p>Email: joaoluca778@gmail.com</p>
        <p>Telefone: (46) 98808-6071</p>

        <h2>Habilidades</h2>
            <li>Atendimento ao cliente</li>
            <li>Excel</li>
            <li>Sistemas</li>

        <h2>Experiências</h2>
        <li>Viasoft</li>
        <li>Senai</li>
        <li>Senai</li>

        <h2>Projetos</h2>
        <p>Meu curriculo.</p>
    </div>
</body>
</html>